<!DOCTYPE html>
<html th:replace="~{base :: layout (~{::main})}">
<body>
<main>
    <h1>Detalles del cliente</h1>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${idClient.id}"></td>
            <td th:text="${idClient.nome}"></td>
            <td th:text="${idClient.email}"></td>
            <td th:text="${idClient.email}"></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/clientes">Volver</a>
</main>
</body>
</html>