<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Detalles Cliente</title>
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Spring Learning</a>
    </div>
</nav>

<main class="container">
    <h1>Detalles del cliente</h1>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${idClient.id}"></td>
            <td th:text="${idClient.nome}"></td>
            <td th:text="${idClient.email}"></td>
            <td th:text="${idClient.email}"></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/clientes">Volver</a>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>