<!DOCTYPE html>
<html th:replace="~{base ::layout (~{::main})}">
<body>
<main>
    <h1>Listagem de clientes</h1>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${allClients}">
            <td th:text="${cliente.id}"></td>
            <td>
                <a th:href="@{/clientes/{id} (id=${cliente.id})}" th:text="${cliente.nome}"></a>
            </td>
            <td th:text="${cliente.email}"></td>
            <td th:text="${cliente.telefone}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>